@import '@material/button/mdc-button';
@import '@material/ripple/_mixins';
@import '@material/ripple/_keyframes';
@import '@material/elevation/_mixins';
@import '@material/typography/mdc-typography';
@import '@material/typography/_mixins';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
}

body {
    @include mdc-typography-base;
    background-color: #fdfdfd;

    .display {
        @include mdc-elevation(8);
        // border: 1px solid black;
        width: 440px;
        height: 660px;

        background-color: #ffffff;
        position: fixed;
        top: 50%;
        left: 50%;
        margin-top: -330px;
        margin-left: -220px;
        padding: 20px;
    }
    .city {
        h1 {
            text-align: center;
            font-size: 1.8em;
        }
    }

    .cards {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        .temp {
            @include mdc-elevation(2);
            @include mdc-ripple-base;
            @include mdc-ripple-bg((pseudo: '::before'));
            @include mdc-ripple-fg((pseudo: '::after'));

            cursor: pointer;
            overflow: hidden;

            display: flex;
            height: 100px;
            width: 100px;
            justify-content: center;
            align-items: center;
            margin: 20px auto;
            // border: 1px solid black;
            padding-top: auto;
        }
    }

    .date-box {
        text-align: center;
        margin: 20px auto;
    }
}
