@import '@material/button/mdc-button';
@import '@material/ripple/_mixins';
@import '@material/ripple/_keyframes';
@import '@material/elevation/_mixins';
@import '@material/typography/mdc-typography';
@import '@material/typography/_mixins';
@import '@material/theme/mdc-theme';

$break: 440px;

:root {
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
}

body {
    @include mdc-typography-base;
    background-color: #fdfdfd;

    .display {
        height: 540;
        padding-bottom: 20px;

        background-color: #ffffff;
    }
    .city {
        padding: 20px;
        // margin-bottom: 10px;
        background-color: #749de0;
        h1 {
            text-align: center;
            font-size: 1.8em;
            span {
                font-size: 1em;
            }
        }
    }

    .divider {
        margin: 0;
        padding: 0;
        height: 73px;
        background-color: #749de0;
    }

    .cards {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        margin-top: -73px;

        .image {
            @include mdc-elevation(2);
            background-color: #fdfdfd;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;

            height: 100px;
            width: 100px;

            .weather-description {
                text-align: center;
            }
        }

        .temp {
            @include mdc-elevation(2);
            background-color: #fdfdfd;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;

            height: 100px;
            width: 100px;

            span {
                font-size: 1.2em;
            }

            #temp-button {
                @include mdc-ripple-base;
                @include mdc-ripple-bg((pseudo: '::before'));
                @include mdc-ripple-fg((pseudo: '::after'));

                background-color: #6f7c91;

                cursor: pointer;
                overflow: hidden;

                font-size: 0.6em;
            }
        }
    }

    .date-box {
        text-align: center;
        margin: 20px auto;
    }

    .links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: space-around;

        margin: auto 20px;

        a {
            display: block;
            font-size: .8em;
            text-decoration: none;
            color: #6f7c91;
        }
        a:hover {
            text-decoration: underline;
            color: #749de0;
        }
    }
}

@media screen and (min-width: $break) {
    body {
        position: fixed;
        top: 50%;
        left: 50%;
        margin-top: -270px;
        margin-left: -220px;

        padding: 20px;

        .display {
            @include mdc-elevation(8);
            width: 440px;
            padding: 10px;
        }

        .links {
            flex-direction: row;
            justify-content: space-around;
            align-content: center;
            margin-top: 20px;
        }
    }

}
